doctype html
html
  head
    title BeMyCall
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/stylesheets/fontawesome/css/all.min.css")
  body
    block content
